body {
    background-color: #EDF1D6;
}

h3, div, label, button{
    color: #EAFAEA; 
    font-family: Arial, Helvetica, sans-serif;
}

div {
    border-radius: 10px;
    padding: 15px;
    margin: 1px; 
}

.parent { 
    display: grid; 
    gap: 1rem;  
}

.child {
    background-color: #6E8E59; 
    border: 1px solid #609966; 
}

textarea {
    resize: none; 
    width: 80vw; 
    height: 20vh; 
    box-sizing: border-box; 
}

button {
    background-color: #780C28;
    border: none; 
    border-radius: 10px;
    width: 100px; 
    padding: 10px; 
}